
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h2><%=title %></h2>
    <main>
        <div class="container ">
            <div class="items_inner_container">
                <h3><%= item.name%></h3>

                <div class="small_container">
                <% if(locals.item){%>
                   <table>
                    <tr>
                        <td>Description:</td>
                        <td><%= item.description%></td>
                    </tr>
                    <tr>
                        <td>Quantity:</td>
                        <td><%= item.quantity%></td>
                    </tr>
                    <tr>
                        <td>Price: </td>
                        <td><%= item.price%></td>
                    </tr>
                    
                   </table>
                <% }%>
                </div>
            </div>
        </div>
    </main>
</body>
</html>