<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%=title%>
    </title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <main>
        <h2>
            <%=title%>
        </h2>

        <div class="container form">
            <div class="error_box">
                <% if(locals.errors){ %>
                    <% errors.forEach(error=>{ %>
                        <p class="error">
                            <%= error.msg %>
                        </p>
                        <% }) %>
                            <% } %>
            </div>
            <form action="/items/update/<%= item.id%>" method="Post">
                <input type="hidden" name="id" value="<%= item.id%>">
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" value="<%= item.name%>" required>
                <label for="description">Description:</label>
                <input type="text" id="description" name="description" value="<%= item.description%>" required>
                <label for="quantity">Quantity:</label>
                <input type="number" id="quantity" name="quantity" value="<%= item.quantity%>" required>
                <label for="price">Price</label>
                <input type="number" id="price" name="price" value="<%= item.price %>" required>
                <p>categories</p>
               <div class="checkbox">
                <% if(locals.categories){%>
                    <% for(let i=0;i< categories.length;i++){ %>
                        <label for="<%=i%>">
                        <%=categories[i].name%>
                            </label>
                            <% if(itemCategories.includes(categories[i].id)){%>
                                <input type="checkbox" value="<%= categories[i].id %>" name="category[]" id="<%= i%>"
                                    checked>
                            <%}else{%>
                                    <input type="checkbox" value="<%= categories[i].id %>" name="category[]" id="<%= i%>">
                            <%}%>
                    <% }%>
                <% }%>
               </div>
                <button type="submit">Update item</button>
            </form>
            <div class="error_box"></div>
        </div>
    </main>

</body>

</html>